# You can keep your repository small and manageable with a .gitignore file.
# Prevent build artifacts, large binary files, and other large file types
# such as log files, media files, and executables from slowing down your workflow.
#
# If you need to keep large files in Bitbucket, consider introducing
# Git Large File Storage (Git LFS) as part of your workflow.
#

routes/__pycache__/
controller/__pycache__/
function/__pycache__/
mqtt-log/
testing/simulation-fils15.4/__pycache__/
testing/simulation-fils15.4/dataset-log/
testing/simulation-fils15.4/dataset-backup/
testing/simulation-acguide/dataset-log/
testing/simulation-acguide/log/

config.ini
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore
# Learn more about Git LFS for large files:
#     https://www.atlassian.com/git/tutorials/git-lfs